.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--space-medium);
  padding-left: var(--space-medium);
  width: 100%;
  max-width: var(--max-width);

  &--mini {
    max-width: calc(60rem + 2 * var(--space-medium));
  }
}
