---
import { Image } from "astro:assets";
import background from "@/assets/images/home/milad-fakurian-PGdW_bHDbpI-unsplash.jpg";

import ArticleLink from "@/components/ui/ArticleLink.astro";
import VideoContainer from "@/components/ui/VideoContainer.astro";
---

<article class="homeArticle homeArticle--hasVideo">
  <div class="background">
    <Image src={background} alt="" />
  </div>
  <div class="content">
    <VideoContainer
      src="/assets/video/experiment-builder-1.webm"
      poster="/assets/video/experiment-builder-1.webp"
      alt="Browsing the experiment activities."
      height="720"
      width="1176"
      shadow={true}
      rounded={true}
    />
  </div>
  <ArticleLink href="/experiment-builder/" />
</article>

<style lang="scss">
  article {
    // display:;
    // place-content: center;

    .background {
      position: absolute;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .content {
      padding: var(--space-large);
    }
  }
</style>
