---
import { Image } from "astro:assets";
import Jazzmaster from "../../../assets/images/home/squier-jmascis-jazzmaster.webp";
---

<article class="homeCard">
  <div class="homeCard__content">
    <h2>don't ask me about my guitars</h2>
  </div>
  <Image
    src={Jazzmaster}
    alt="A close-up view of a Squier J Mascis Jazzmaster guitar. The guitar is white, but not bright white, more like an old, a bit passed, white, with a gold pickguard."
  />
</article>

<style lang="scss">
  article {
    > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;

      display: grid;
      place-content: center;

      opacity: 1;

      h2 {
        margin-bottom: 0;

        color: white;
        font-size: clamp(6rem, 6vw, 12rem);
      }
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      > div {
        opacity: 0;
      }
    }
  }
</style>
