---
import { Image } from "astro:assets";
import background from "@/assets/images/home/reliably-assistant-social.webp";

import ArticleLink from "@/components/ui/ArticleLink.astro";
// import VideoContainer from "@/components/ui/VideoContainer.astro";
---

<article class="homeCard homeCard--hasvideo">
  <div class="background">
    <Image
      src={background}
      alt='The text "Reliably Assistant" written over a dark blue, pink, and dark purle, sci-fi looking night sky.'
    />
  </div>
  <!-- <div class="content">
    <VideoContainer
      src="/assets/video/bluelimes-animate.mp4"
      poster="/assets/images/blue-limes-animation.webp"
      alt="Tetris-like blocks move depending on the mouse cursor position. They snap in place when the cursor hovers a call-to-action button."
      height="1080"
      width="1664"
      shadow={true}
      rounded={true}
    />
  </div> -->
  <ArticleLink href="/reliably-assistant/" />
</article>

<style lang="scss">
  article {
    .background {
      position: absolute;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    // .content {
    //   padding: var(--space-large);
    // }
  }
</style>
