---
import Layout from "@/layouts/FullPageLayout.astro";
---

<Layout title="Your message has been sent" description="Send me a message">
  <main class="page page--full contact">
    <header class="contact__header">
      <a href="/" class="siteLogo">
        <div>Marc</div>
      </a>
      <h1>Let's get in touch</h1>
    </header>
    <div class="contact__content">
      <div>
        <h2>Thank you!</h2>
        <p>Your message has been sent.</p>
        <p><a href="/" class="button button--primary">Back to home page</a></p>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  .contact {
    display: grid;
    grid-template-columns:
      max(calc(50vw - (var(--max-width) / 2)), var(--space-small))
      repeat(12, 1fr)
      max(calc(50vw - (var(--max-width) / 2)), var(--space-small));
    gap: var(--space-medium);
    overflow-x: hidden;

    background-color: var(--text-color-bright);

    color: white;

    &__header {
      grid-column: 2 / span 6;

      min-height: 100vh;
      padding-top: var(--space-small);

      .siteLogo {
        display: flex;
        align-items: baseline;
        gap: 0.2rem;

        color: var(--white);
        font-family: var(--body-font);
        font-size: 1.6rem;
        font-weight: 600;

        @media (min-width: 32rem) {
          font-size: 3rem;
        }

        &:hover {
          text-decoration: none;
        }

        &::after {
          content: "";

          display: block;
          height: 1.2rem;
          width: 1.2rem;

          background: var(--orange);
          border-radius: 50%;
        }
      }

      h1 {
        font-family: var(--body-font);
        font-size: clamp(7.2rem, 14vw, 20rem);
        font-weight: 900;
      }
    }

    &__content {
      grid-column: 8 / span 6;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      h2 {
        color: white;
        font-family: var(--body-font);
      }
    }
  }
</style>
