<footer>
  <p class="text-center">
    Do you want to discuss how we can work together on your project?
  </p>
  <p><a class="button button--primary" href="/contact/">Let's chat</a></p>
  <p class="text-center"><a href="/legal/">Legal notice</a></p>
</footer>

<style lang="scss">
  footer {
    grid-column: 2 / span 12;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
    margin-top: var(--space-large);
    padding-top: var(--space-large);
    padding-bottom: var(--space-large);

    // border-top: 0.1rem solid var(--grey-200);
    background-color: var(--text-color-bright);

    color: white;

    p:last-child {
      margin-top: var(--space-medium);
    }

    a:not([class]) {
      font-size: 1.4rem;
      color: var(--grey-500);

      &:visited {
        color: var(--grey-500);
      }
    }
  }
</style>
