---
import Layout from "../layouts/Layout.astro";

import Me from "@/components/home/Me.astro";
import Illustration from "@/components/home/Illustration.astro";
import Articles from "@/components/home/Articles.astro";
---

<Layout
  title="Front-end developer / Interface designer"
  description="I build user-facing interfaces using TypeScript, Vue.js, APIs, and (S)CSS."
>
  <main class="home">
    <Me />
    <Illustration />
    <Articles />
  </main>
</Layout>

<style lang="scss">
  .home {
    display: grid;
    grid-template-columns:
      max(calc(50vw - (var(--max-width) / 2)), var(--space-small))
      repeat(12, 1fr)
      max(calc(50vw - (var(--max-width) / 2)), var(--space-small));
    gap: var(--space-medium);
  }
</style>
