---
import ExperimentBuilder from "./articles/ExperimentBuilder.astro";
import ReliablyAssistant from "./articles/ReliablyAssistant.astro";
import PriceCalculator from "./articles/PriceCalculator.astro";
import BlueLimesAnimation from "./articles/BlueLimesAnimation.astro";
import Guitars from "./articles/Guitars.astro";
import ReliablyAnimated from "./articles/ReliablyAnimated.astro";
import Interpol from "./articles/Interpol.astro";
import Running from "./articles/Running.astro";
---

<section class="articles">
  <ExperimentBuilder />
  <ReliablyAssistant />
  <PriceCalculator />
  <BlueLimesAnimation />
  <Guitars />
  <ReliablyAnimated />
  <Interpol />
  <Running />
</section>

<style lang="scss">
  .articles {
    grid-column: 2 / span 12;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(auto, 1fr);
    gap: var(--space-medium);
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
  }
</style>
