---
import { Image } from "astro:assets";
import Marc from "../../assets/images/home/marc-perrien-transparent.webp";
---

<div class="illustration">
  <Image
    src={Marc}
    alt="A picture of me, over a bright orange background. I'm wearing a navy blue jacket and a very light blue R.E.M. t-shirt. I'm also wearing glasses, because I'm pretty much useless without them."
    title=`"Why am I looking to the right?" Because that's where the DevTools panel is.`
  />
</div>

<style lang="scss">
  .illustration {
    grid-column-start: 9;
    grid-column-end: 15;

    background-color: var(--orange);

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
</style>
