---
import { Image } from "astro:assets";
import Marc from "../../assets/marc-perrien-transparent.webp";
---

<div class="illustration">
  <Image src={Marc} alt="Moi" />
</div>

<style lang="scss">
  .illustration {
    grid-column-start: 9;
    grid-column-end: 15;

    background-color: var(--orange);

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
</style>
