<footer>
  <p class="text-center">
    Do you want to discuss how we can work together on your project?
  </p>
  <a class="button button--primary" href="/contact/">Let's chat</a>
</footer>

<style lang="scss">
  footer {
    grid-column: 2 / span 12;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
    padding-top: var(--space-large);

    border-top: 0.1rem solid var(--grey-200);
  }
</style>
